{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-success col-xs-12">Add User</button>
        </div>
    </form>
{% endblock %}