{% extends "layout.html" %}
{% block content %}
    <h2>Hello, {{ name }}</h2>
    <h3>About You</h3>
    <p>Your roles:</p>
    <ul>
        {% for role in roles %}
            <li>{{ role }}</li>
        {% endfor %}
    </ul>
{% endblock %}