{% extends "layout.html" %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.forename }} {{ user.surname }}</td>
                    <td>{{ roles[user.user_id] }}</td>
                    <td><a href="{{ url_for("school_blueprint.modify_user", id=user.user_id) }}">Modify</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
