{% extends "layout.html" %}
{% block content %}
    {% for week in timetable.keys() %}
        <h1>Week {{ week.week_name }}</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key in timetable[week].keys() %}
                        <tr>
                            <td>{{ key }}</td>
                            {% for item in timetable[week][key] %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}