{% extends "layout.html" %}
{% block content %}
    <h1>Periods</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Week</th>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for period in periods %}
                <tr>
                    <td>{{ period[1] }}</td>
                    <td>{{ period[2] }}</td>
                    <td>{{ period[3] }}</td>
                    <td>{{ period[4] }}</td>
                    <td>{{ period[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Weeks</h1>
    <table class="table">
        <thead>
            <th>Name</th>
        </thead>
        <tbody>
            {% for week in weeks %}
                <tr>
                    <td>{{ week[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}