{% extends "layout.html" %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Set Name</th>
                <th>Teachers</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in sets_and_teachers.iteritems() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value|join(", ") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
