{% extends "layout.html" %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Set Name</th>
            </tr>
        </thead>
        <tbody class="">
            {% for value in sets %}
                <tr>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
