<li>
    <a href="{{ url_for("subjects_blueprint.add_subject") }} ">
        Add Subject
    </a>
</li>
<li>
    <a href="{{ url_for("subjects_blueprint.subject_listing") }} ">
        Subject Listing
    </a>
</li>
<li>
    <a href="{{ url_for("sets_blueprint.set_listing") }} ">
        Set Listing
    </a>
</li>
<li>
    <a href="{{ url_for("school_blueprint.user_listing") }} ">
        User Listing
    </a>
</li>
<li>
    <a href="{{ url_for("school_blueprint.add_user") }} ">
        Add User
    </a>
</li>
<li>
    <a href="{{ url_for("timetable_blueprint.add_period") }} ">
        Add Period
    </a>
</li>
<li>
    <a href="{{ url_for("timetable_blueprint.add_week") }} ">
        Add Week
    </a>
</li>
<li>
    <a href="{{ url_for("timetable_blueprint.week_period_listing") }} ">
        Week &amp; Period Listing
    </a>
</li>
<li>
    <a href="{{ url_for("timetable_blueprint.add_timetable") }} ">
        Add Timetable
    </a>
</li>
