<li>
    <a href="{{ url_for("homework_blueprint.student_homework_listing") }}">
        Homework Listing
    </a>
</li>
<li>
    <a href="{{ url_for("sets_blueprint.student_set_listing") }}">
        Set Listing
    </a>
</li>