<li>
    <a href="{{ url_for("sets_blueprint.teacher_set_listing") }}">
        Set Listing
    </a>
</li>
<li>
    <a href="{{ url_for("homework_blueprint.teacher_homework_listing") }}">
        Homework Listing
    </a>
</li>
<li>
    <a href="{{ url_for("homework_blueprint.add_homework") }}">
        Add Homework
    </a>
</li>