{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
        <button type="submit" id="submit">Update</button>
    </form>
{% endblock %}
