{% extends "layout.html" %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Set</th>
                <th>Description</th>
                <th>Date Due</th>
            </tr>
        </thead>
        <tbody>
            {% for value in homework %}
                <tr>
                    <td>{{ value[0] }}</td>
                    <td>{{ value[1] }}</td>
                    <td>{{ value[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
