{% macro render_field(field) %}
     {% if field.errors %}
        {%  for error in field.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {% if field.type != "CSRFTokenField" %}
        <div class="form-group">
            <label for="{{ field.id }}">{{ field.label.text }}</label>
            {{ field(placeholder=field.label.text, class="form-control") }}
        </div>
    {% endif %}
{% endmacro %}